.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 20rem; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(38, 38, 38, 0.7);
}

/* Modal Content */
.modal-content {
  max-height: 40rem;
  width: 40rem;
  max-width: 80vw;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-self: center;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: auto;
}

.modal-content .header {
  border-bottom: 1px solid #dbdbdb;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 1.4rem;
  align-items: center;
}

.modal-content .header h1 {
  grid-column: 2/3;
  font-size: 1.5rem;
  color: #262626;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.modal-content .header button {
  font-size: 2.4rem;
  margin-left: auto;
  margin-right: 1rem;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0.8rem;
}

.modal-content .following-overview {
  color: #262626;
  overflow-y: auto;
  padding: 4rem 0;
}

#myModal .modal-content .following-overview.options {
  color: #262626;
  overflow-y: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#myModal .modal-content .following-overview.options > button {
  padding: 1.5rem;
  font-size: 1.4rem;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border-bottom: 1px solid #dbdbdb;
  color: #262626;
  font-weight: 400;
  margin-left: unset;
}

#myModal .modal-content .following-overview.options > button.red-option {
  color: #ed4956;
  font-weight: 700;
}

#myModal .modal-content .following-overview.options > button.blue-option {
  color: #0095f6;
  font-weight: 700;
}

.following-overview .no-following-icon {
  margin: 0 auto;
  width: 9.6rem;
  height: 9.6rem;
  background-image: url(./no-following-icon.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.following-overview h2 {
  font-weight: 300;
  font-size: 2rem;
  padding: 2rem 0;
}

.following-overview h4 {
  font-weight: 400;
  font-size: 1.4rem;
}

.following-overview h4.unfollow-popup {
  border-bottom: 1px solid #dbdbdb;
  padding: 1.5rem;
}

.users.modal-content .following-overview {
  padding: 0;
}

.following-overview .user-card {
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
}

.following-overview .user-card a.avatar {
  display: flex;
  width: 4rem;
  height: 4rem;
}

.following-overview .user-card img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #dbdbdb;
}

.following-overview .user-card__details {
  margin-left: 1rem;
  line-height: 1.5rem;
  max-width: 70%;
  text-align: left;
}

.user-card__details a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.4rem;
  color: #262626;
}

.user-card__details a:hover {
  text-decoration: underline;
}

.user-card__details p {
  color: #999;
  font-size: 1.4rem;
  margin-top: 0.5rem;
}

.following-overview .user-card button {
  margin-left: auto;
  border: 1px solid #dbdbdb;
  color: #262626;
  background-color: transparent;
  outline: none;
  padding: 0.6rem 1.4rem; /*.6 1 */
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.33rem; /* Change this if any problem occurs 1.6rem */
}

.following-overview .user-card button.inactive {
  background-color: rgba(0, 149, 246, 1);
  color: #fff;
  border: 1px solid transparent;
}

.animation-1 {
  animation: popup 0.2s;
}

@keyframes popup {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
